﻿body {
    background-color: #f1f1f1;
    font-family: 'gotham_narrowbook';
    margin: 0;
}

.welcome-art {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #0395d3;
	background-image: url(../images/art.png);
	background-size: 100%;
	top:0px;
}
.welcome-logo {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
.welcome-logo img {
	width: 50%;
}
.welcome-start {
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 90px;
}
.welcome-start img {
	width: 50%;
}

strong {
    font-family: 'gotham_narrowbold';
}

.center {
    text-align: center;
}
.page-control {
    
    width: 75%;
    min-height: 60px;
    font-size: 1.5em;
    margin-bottom: 5px;
}
.scan-big {
    background-color: transparent;
    border: none;
    background-image: url(../images/scan_big.png);
    width: 260px;
    height: 200px;
}
.header-logo {
    background-image: url(../images/header.png);
    
    height: 80px;
    background-size: 100%;
}
button {
    font-family: 'gotham_narrowbold';
    background-color: #00ca2b;
    border-radius: 6px;
    border: none;
    color: white;
}

.button-big {
    width: 75%;
    height: 70px;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.button-big.red {
    background-color: #ff0000;
}

.button-big.blue {
    background-color: #0397d6;
}

.button-big.orange {
    background-color: #ffae00;
}


.scan-small {
    background-color: transparent;
    border: none;
    background-image: url(../images/scan_small.png);
    width: 240px;
    height: 45px;
    background-size: 240px 45px;
}

.header {
       text-align: center;
    width: 100%;
    position: relative;
    display: block;
    min-height: 200px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.header .top-button {
    min-width: 250px;
    margin: 3px;
    min-height: 50px;
    padding: 5px;
    font-size: 1.2em;
}

.top-button.blue {
    background-color: #0397d6;
}
.top-button.red {
    background-color: #ff0000;
}

.header .logout {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 50px;
    font-size: 1.2em;
}

.screen-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
}

.sip-details {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    
}

.sip-details .sip-status-info {
    text-align: left;
}

.islem-list-container {
    padding-top: 10px;
}

.results-title {
    padding: 10px;
    font-weight: bold;
}

.scanningWindow {
    position: fixed;
    border: solid 1px black;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;
    height: 450px;
    margin-top: 10px;
    width: 300px;
    margin-left: -150px;
    text-align: center;
}

    .scanningWindow h3 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 100px;
    }

    .scanningWindow button {
        font-size: 2em;
        height: 100px;
    }


.login {
    text-align: center;
}


.search {
    text-align: center;
}

.search .filter-row {
    margin-bottom: 8px;
    padding-bottom: 8px;
    
}

.isemri-items {

}

.isemri-search-item {
    font-size: 1.2em;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

.isemri-search-item:nth-child(even) {background: #f1f1f1}
.isemri-search-item:nth-child(odd) {background: #FFF}

.islistitem {
    font-size: 1.2em;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

.islistitem.disabled {
    
    color: #0002E5;
}
.islistitem.finishedItem {
    color: #FF0000;
    font-weight: bolder;
}

.islemdetails {
    text-align: center;
}

.islemdetails .islemdetails-personellist {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px;

}

.islemdetails .islemdetails-title {
    padding: 10px;
    font-weight: bold;
}

table {
    text-align: center;
    width: 75%;
}

.islem-desc {
    width: 75%;
    height: 150px;
}