﻿<div class="header">
    <div class="header-logo">
        &nbsp;
    </div>
    <div>
        <button class="top-button red" ng-click="logout()">
            Çıkış: {{username}}
        </button>
    </div>
    <div>
        <button class="top-button blue" ui-sref="home.search">
            İş Emri Ara
        </button>
    </div>

</div>


<div ui-view>

</div>