﻿<div class="islemdetails">

    <div class="islemdetails-personellist">
        <div ng-repeat="personel in islemPersonel | filter:{MERNI:'!99999999999'}">
            {{personel.VORNA}} {{personel.NACHN}} ({{personel.MERNI}})
        </div>
        <div ng-show="islemPersonel.length==0">
            Personel Yok
        </div>
    </div>

    <div class="islemdetails-title">
        {{selectedIslem.VORNR}} {{selectedIslem.LTXA1}}
    </div>


    <div ng-show="isstarted==true">
        <div>
            <button class="button-big" ng-click="addPersonel()">PERSONEL EKLE</button>
        </div>
        <div>
            <button class="button-big red" ng-click="removePersonel()" ng-show="islemPersonel.length>0">PERSONEL ÇIKART</button>
        </div>
        <div>
            <button class="button-big blue" ng-show="isstarted==true&&islemPersonel.length==0" ng-click="finishIslem()">İŞ TAMAMLA</button>
        </div>
        <div ng-show="selectedSip.E_AUART=='PM02'&&isstarted==true">
            <button class="button-big orange" ng-click="showIslemSubItems()">İŞLEM ADIMLARI</button>
        </div>
    </div>
    <br /><br />

    <button class="button-big" ng-show="isstarted!=true" ng-click="startIslem()">İŞ BAŞLAT</button>


</div>