﻿<div class="header-logo">
    &nbsp;
</div>
<div class="login">


    <h3>
        Giriş yapmak için kimlik kartı taratın
    </h3>
    
    <div>
        <button class="scan-big" ng-click="scan()"></button>
    </div>
    <div>
        {{barcode}}
    </div>
</div>