﻿<div ng-show="searching==false" class="results-title">
    Sonuclar ({{data.length}}):
</div>
<div ng-show="searching" class="results-title">
    Aranıyor
</div>
<div>
    <div ng-show="data.length==0">
        İş emri bulunamadı.
    </div>
    <div class="isemri-items">
        <div ng-repeat="isemri in data" class="isemri-search-item" ng-click="sipClicked(isemri.AUFNR)">
            <strong>{{isemri.AUFNR.slice(3)}}</strong> <br /> {{isemri.AUART}} - {{isemri.ERDAT}} - {{isemri.KTEXT}} - ({{isemri.INGRP}})
        </div>
    </div>
</div>
