﻿
<div class="search">


    <div class="screen-title">
        Sipariş Ara
    </div>

    <div ng-show="currentIsEmri !== null">
        Güncel İş Emri: {{currentIsEmri}}
    </div>
        
    <div class="filter-row">
        <button class="button-big scan-small" ng-click="scan()"></button>
    </div>
    <div class="filter-row">
        <div>İş Emri Durumu:</div>
        <select class="page-control" ng-model="isemriStatus">
            <option value=""></option>
            <option value="E0003">ONAYLANDI</option>
            <option value="E0004">İŞLEMDE</option>
            <option value="E0005">DAHİLİ İŞÇİLİK BEKLENİYOR</option>
            <option value="E0006">MALZEME BEKLENİYOR</option>
            <option value="E0007">İŞLETME ŞARTI BEKLENİYOR</option>
            <option value="E0010">SERVİS EKİBİ BEKLENİYOR</option>
        </select>
    </div>
    <div class="filter-row">
        <div>Teknik Birim:</div>
        <input type="text" ng-model="teknikBirim" class="page-control" />
    </div>
    <div class="filter-row">
        <div>Şeflik:</div>
        <select class="page-control" ng-model="sefliktype">
            <option ng-repeat="seflikType in seflikTypes" value="{{seflikType}}" >{{seflikType}}</option>
        </select>
    </div>
    <div class="filter-row">
        <div>Sipariş Türü</div>
        <select class="page-control" ng-model="siptype">
            <option value=""></option>
            <option ng-repeat="sipType in sipTypes" value="{{sipType}}">{{sipType}}</option>
        </select>
    </div>
    <div class="filter-row">
        <div>Tarih Seçimi</div>
        <select class="page-control" ng-model="dateType">
            <option value="all" selected>Tüm Zamanlar</option>
            <option value="today">Bugün</option>
            <option value="last15">Son 15 Gün</option>
            <option value="selectdate">Tarih Aralığı</option>
        </select>
    </div>
    <div ng-show="dateType=='selectdate'">
        <div class="filter-row">
            <div>Başlangıç Tarihi</div>
            <input type="date"  name="startDate" class="datepicker page-control" />
            
        </div>
        <div class="filter-row">
            <div>Bitiş Tarihi</div>
            <input type="date" name="endDate" class="datepicker page-control" />
            
        </div>
    </div>
    <div class="filter-row">
        <button class="button-big" ng-click="searchClicked()">ARA</button>
    </div>

</div>