﻿<div class="islemdetails">
    
    <div ng-show="showDescription==false">
        <br />
        <div>İŞLEM DURUMUNU SEÇİNİZ</div>
        <br />
        <button class="button-big orange" ng-click="setStatus('E0005')">
            DAHİLİ İŞÇİLİK BEKLENİYOR
        </button>
        <button class="button-big orange" ng-click="setStatus('E0006')">
            MALZEME BEKLENİYOR
        </button>
        <button class="button-big orange" ng-click="setStatus('E0007')">
            İŞLETME ŞARTI BEKLENİYOR
        </button>
        <button class="button-big orange" ng-click="setStatus('E0010')">
            SERVİS EKİBİ BEKLENİYOR
        </button>
        <button class="button-big orange" ng-click="setStatus('E0011')">
            ÖN KONTROL
        </button>

        <!--<button class="button-big" ng-click="cancel()">VAZGEÇ</button>-->
    </div>
    <div ng-show="showDescription==true">
        <br />
        <div>İşlem Açıklaması Giriniz</div>
        <br />
        <textarea ng-model="islemDescription" class="islem-desc">

        </textarea>
        <div>
            <button class="button-big" ng-click="saveDescription()">KAYDET</button>
        </div>
        <div style="height: 500px;">&nbsp;</div>
    </div>
</div>