<div class="center">
  <div>
    Hasar:
    <br />
    <strong style="font-size: 1.3em; font-weigth: bolder;">{{selectedDamage.KURZTEXT}}</strong>
    <br/> Neden:
    <br />
    <strong style="font-size: 1.3em; font-weigth: bolder;">{{selectedNeden?selectedNeden.KURZTEXT:selectedNedenText}}</strong>
    <br/>
    <div style="border-top: 1px solid #ccc; margin-top: 20px; padding-top: 20px;">
      Hasar:
      <br>

      <select class="page-control" ng-model="selectedDamageGroup" ng-change="groupChanged()" ng-options="getDamageCodeGroupLabel(group) for group in damageCodeGroups">
        <!-- <option ng-repeat="group in damageCodeGroups" value="group">{{group.CODEGRUPPE + ' ' + group.KURZTEXT_DESC}}</option> -->
      </select>
    </div>
    Hasar Kodu:
    <br/>
    <select class="page-control" ng-model="selectedDamage" ng-options="getDamageLabel(damage) for damage in damageCodesForSelectedGroup">

    </select>
  </div>
  <br />
  <div>
    Neden:
    <br />
    <select class="page-control" ng-model="selectedNeden" ng-options="getDamageLabel(neden) for neden in nedenCodes"></select>
  </div>
  <br />
  <br />
  <div>
    <button class="button-big" ng-click="saveClicked()">KAYDET</button>
  </div>
</div>