<div class="sip-details">
  <table class="sip-status-info">
    <tr>
      <td>
        Sipariş no
      </td>
      <td>
        :
      </td>
      <td>
        {{sipid}}
      </td>
    </tr>
    <tr>
      <td>
        Statü
      </td>
      <td>
        :
      </td>
      <td>
        {{statusText}}
      </td>
    </tr>
    <tr>
      <td>
        Teknik Birim
      </td>
      <td>
        :
      </td>
      <td>
        <button ng-show="selectedSip.E_STRNO!=''" ng-click="showAlert(selectedSip.E_PLTXT)">{{selectedSip.E_STRNO}}</button>
      </td>
    </tr>

    <!-- <tr ng-show="selectedSip.E_EQUNR!=null&&selectedSip.E_EQUNR!=''">
      <td>
        Ekipman
      </td>
      <td>
        : {{selectedSip.E_EQUNR}}
      </td>
    </tr> -->

    <tr>
      <td>
        Ekipman Numarası
      </td>
      <td>
        :
      </td>
      <td>
        <button ng-show="selectedSip.E_EQUNR!=''" ng-click="showAlert(selectedSip.E_EQKTX)">{{selectedSip.E_EQUNR}}</button>
      </td>
    </tr>
    <tr>
      <td>
        Ekipman Listesi
      </td>
      <td>
        :
      </td>
      <td>
        <button ng-click="showAlert(selectedSip.ekipmanListStr);">Ekipman Listesi Göster</button>
      </td>
    </tr>   
    <tr>
      <td>
        Bildirim
      </td>
      <td>
        :
      </td>
      <td>
        <button ng-show="selectedSip.E_NOTIF!=''" ng-click="showAlert(selectedSip.E_NOTLTXT)">{{selectedSip.E_NOTIF}}</button>
      </td>
    </tr>

  </table>

</div>
<div ng-show="showIslemList" class="islem-list-container">

  <div class="center" ng-show="selectedSip.E_AUART=='PM01'">

    <button class="button-big" ui-sref="home.sipdetails.sipcause({sipid:sipid})">HASAR VE NEDEN KODLARI</button>
    <br />
    <br />
  </div>

  <div class="islistitem" ng-class="{disabled: islem.DISABLE=='X'||(islem.AVORNR!=null&&islem.AVORNR!=''), finishedItem: islem.checked}" ng-repeat="islem in data.T_ISLIST" ng-click="islemClicked(islem);">

    <span ng-show="islem.AVORNR!=null&&islem.AVORNR!=''">
      <input type="checkbox" ng-model="islem.checked" ng-disabled="true" />
    </span>
    <span ng-show="islem.AVORNR==null||islem.AVORNR==''">
      {{islem.VORNR}} -
    </span>
    {{islem.LTXA1}}
  </div>
</div>
<div ui-view>

</div>
