﻿<!DOCTYPE html>
<!-- manifest="cache.manifest" -->
<html ng-app="bakimApp" >
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="css/default.css" rel="stylesheet" type="text/css">
    <link href="css/default.date.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    <link href="fonts/stylesheet.css" type="text/css" rel="stylesheet" />
    
    <script src="js/jquery.min.js"></script>
    <script src="js/picker.js"></script>
    <script src="js/picker.date.js"></script>
    <script src="js/tr_TR.js"></script>

    <script src="js/bridge-1.0.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/fastclick.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

</head>
<body ng-controller="AppController">
    <div ng-show="httpRequestInProgress">Progress</div>
    <div ng-show="showLoadingDialog">{{progressMessage}}</div>
    <div style="position: relative;">
        <div ng-show="isScanning" ng-controller="ScanningWindowController" class="scanningWindow">
            <h3>
                {{barcodeTitle}}
            </h3>
            <div>
                <button ng-click="cancelScan()">
                    İPTAL ET
                </button>
            </div>
        </div>
    </div>

    <div ui-view>
    </div>

</body>
</html>

