@font-face {
    font-family: 'gotham_narrowbold';
    src: url('gothamnarrow-bold-retter.eot');
    src: url('gothamnarrow-bold-retter.eot?#iefix') format('embedded-opentype'),
         url('gothamnarrow-bold-retter.woff') format('woff'),
         url('gothamnarrow-bold-retter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_narrowbook';
    src: url('gothamnarrow-book-retter.eot');
    src: url('gothamnarrow-book-retter.eot?#iefix') format('embedded-opentype'),
         url('gothamnarrow-book-retter.woff') format('woff'),
         url('gothamnarrow-book-retter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_narrowbook_italic';
    src: url('gothamnarrow-bookitalic-retter.eot');
    src: url('gothamnarrow-bookitalic-retter.eot?#iefix') format('embedded-opentype'),
         url('gothamnarrow-bookitalic-retter.woff') format('woff'),
         url('gothamnarrow-bookitalic-retter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_narrowlight';
    src: url('gothamnarrow-light-retter.eot');
    src: url('gothamnarrow-light-retter.eot?#iefix') format('embedded-opentype'),
         url('gothamnarrow-light-retter.woff') format('woff'),
         url('gothamnarrow-light-retter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_narrowmedium';
    src: url('gothamnarrow-medium-retter.eot');
    src: url('gothamnarrow-medium-retter.eot?#iefix') format('embedded-opentype'),
         url('gothamnarrow-medium-retter.woff') format('woff'),
         url('gothamnarrow-medium-retter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}